dockerLaravel/backend/vendor
dockerLaravel/backend/artisan
dockerLaravel/backend/bootstrap/cache
dockerLaravel/backend/database/*.sqlite*
dockerLaravel/backend/storage
dockerLaravel/backend/laravel
dockerLaravel/backend/node_modules


